<nb-card class="simple-card">
    <nb-card-body>
        <h1 class="simple-card-title">
            Unassigned collaborator
        </h1>
        <p>
            If you are seeing this message, that means that your account has been successfully activated.
        </p>
        <p>
            Still you are not yet assigned to any team by the human resources responsible, which
            means unfortunately that there are no activities available for you until you become assigned to
            a team.
        </p>
        <p>
            See you soon!
        </p>
    </nb-card-body>
</nb-card>
