<nb-card class="dialog add-event">
    <nb-card-body>
        <h4 class="dialog-title">Add event</h4>
        <div class="dialog-content">
            <form class="form" [formGroup]="addEventFormGroup">
                <!--title-->
                <div class="form-group">
                    <input nbInput fullWidth shape="round" placeholder="Title*" type="text" id="title"
                        formControlName="title"
                        [class.input-error]="formService.checkInputInvalidity(addEventFormGroup.get('title'))">
                    <p class="error-message"
                        *ngIf="formService.checkInputError(addEventFormGroup.get('title'), 'required')"> This field is
                        required </p>
                </div>
                <!--date-->
                <div class="form-group">
                    <input nbInput fullWidth shape="round" placeholder="Event date*" id="date" formControlName="date"
                        [nbDatepicker]="date"
                        [class.input-error]="formService.checkInputInvalidity(addEventFormGroup.get('date'))">
                    <nb-datepicker #date [min]="today"></nb-datepicker>
                    <p class="error-message"
                        *ngIf="formService.checkInputError(addEventFormGroup.get('date'), 'required')">This field is
                        required</p>
                </div>
                <!--maximum number of participation-->
                <div class="form-group">
                    <input nbInput fullWidth shape="round"  min="1"  placeholder="Maximum number of participants" type="number"
                        id="numberMaxParticipation" formControlName="numberMaxParticipation">
                </div>
                <!--location-->
                <div class="form-group">
                    <input nbInput fullWidth shape="round" placeholder="Location*" type="text" id="location"
                        formControlName="location"
                        [class.input-error]="formService.checkInputInvalidity(addEventFormGroup.get('location'))">
                    <p class="error-message"
                        *ngIf="formService.checkInputError(addEventFormGroup.get('location'), 'required')"> This field
                        is required </p>
                </div>
                <!--type-->
                <div class="form-group price">
                    <nb-select required id="type" name="type" (selectedChange)="onTypeSelect($event)"
                        placeholder="Select type*"
                        [class.input-error]="formService.checkInputInvalidity(addEventFormGroup.get('type'))">
                        <nb-option value="Gratuit">Gratuit</nb-option>
                        <nb-option value="Payant">Payant</nb-option>
                    </nb-select>
                    <p class="error-message"
                        *ngIf="formService.checkInputError(addEventFormGroup.get('type'), 'required')"> This field is
                        required </p>
                    <!--price-->

                    <input class="event-price" *ngIf="isPaid" nbInput fullWidth shape="round" placeholder="Price*"
                        type="number" id="eventPrice" formControlName="eventPrice"
                        [class.input-error]="formService.checkInputInvalidity(addEventFormGroup.get('eventPrice'))"><span
                        class="price-unit">DT</span>
                    <p class="error-message"
                        *ngIf="formService.checkInputError(addEventFormGroup.get('eventPrice'), 'required')"> This field is
                        required </p>
                </div>
                <!--plink-->

                            <div class="form-group">
                                <input
                                        nbInput
                                        fullWidth
                                        shape="round"
                                        placeholder="Link to event"
                                        type="text"
                                        id="originLink"
                                        formControlName="originLink"
                                        [class.input-error]="formService.checkInputInvalidity(addEventFormGroup.get('originLink'))"
                                    >
                            </div>
                            <!-- add image -->
                            <div class="form-group">
                                <p-fileUpload #fubauto  (uploadHandler)="onUpload($event)" customUpload="true" [auto]="true"
                                 accept="image/*" maxFileSize="1000000"
                                 [showUploadButton]="false"
                                 [showCancelButton]="false"
                                 chooseLabel="Add Image"  >
                                <div *ngIf="uploadedFiles.length">
                                    <div *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</div>
                                </div>
                                </p-fileUpload>
                           </div>
            </form>
        </div>
        <div class="dialog-actions">
            <div class="actions-container right">
                <button
                    nbButton
                    shape="round"
                    size="medium"
                    (click)="onCancel()"
                >cancel</button>
                <button
                    nbButton
                    hero
                    shape="round"
                    size="medium"
                    status="primary"
                    [disabled]="addEventFormGroup.invalid"
                    (click)="addEventWithImage()"
                    [nbSpinner]="loadingState"
                    nbSpinnerStatus="control"
                >submit</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
