<div class="container">
    <!--     <div class="grid">
        <div class="cell">
            <nb-card class="chart-card">
                <nb-card-body>
                    <app-pie-chart
                        [title]="averageRating"
                        [data]="mentorshipsRatingsChartData"
                    ></app-pie-chart>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="cell">
            <nb-card class="chart-card">
                <nb-card-body>
                    <app-pie-chart
                        [title]="mentorships.length > 0 ? (mentorships.length + ' Mentorship') : 'No available mentorships'"
                        [data]="mentorshipsStatusesChartData"
                    ></app-pie-chart>
                </nb-card-body>
            </nb-card>
        </div>
    </div> -->
    <p class="comingSsoon">
        <nb-icon class="icon" icon="loader-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        This module is not available at the moment ...
    </p>
</div>