@keyframes fade-in {
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes expand {
    0%      { width: 0%; }
    100%    { width: 100%; }
}

@keyframes show-and-expand {
    0%      { opacity: 0; width: 0%; }
    100%    { opacity: 1; width: 100%; }
}
