<nb-card class="simple-card">
    <nb-card-body>
        <h1 class="simple-card-title">
            {{ sessionType === sessionTypeEnum.PASSWORD_RESET ? 'Reset your password' : 'Set up your password' }}
        </h1>
        <div class="form-container">
            <form class="form" [formGroup]="passwordInitializationFormGroup">
                <div class="form-group">
                    <input
                        nbInput
                        fullWidth
                        shape="round"
                        placeholder="Password"
                        type="password"
                        id="password"
                        formControlName="password"
                        [class.input-error]="formService.checkInputInvalidity(passwordInitializationFormGroup.get('password'))">
                    <p
                        class="error-message"
                        *ngIf="formService.checkInputError(passwordInitializationFormGroup.get('password'), 'required')"
                    >This field is required</p>
                    <p
                        class="error-message"
                        *ngIf="formService.checkInputError(passwordInitializationFormGroup.get('password'), 'weakPassword')"
                    >Weak password</p>
                </div>
                <div class="form-group">
                    <input
                        nbInput
                        fullWidth
                        shape="round"
                        placeholder="Password confirmation"
                        type="password"
                        id="passwordConfirmation"
                        formControlName="passwordConfirmation"
                        [class.input-error]="formService.checkInputInvalidity(passwordInitializationFormGroup.get('passwordConfirmation'))">
                    <p
                        class="error-message"
                        *ngIf="formService.checkInputError(passwordInitializationFormGroup.get('passwordConfirmation'), 'required')"
                    >This field is required</p>
                    <p
                        class="error-message"
                        *ngIf="formService.checkInputError(passwordInitializationFormGroup.get('passwordConfirmation'), 'notConfirmed')"
                    >Password is not confirmed</p>
                </div>
            </form>
            <div class="form-actions">
                <div class="actions-container left">
                    <button
                        nbButton
                        hero
                        shape="round"
                        size="medium"
                        status="primary"
                        [disabled]="passwordInitializationFormGroup.invalid || loadingState"
                        [nbSpinner]="loadingState"
                        nbSpinnerStatus="control"
                        (click)="onSubmit()"
                    >
                        submit
                        <nb-icon icon="arrow-forward-outline"></nb-icon>
                    </button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
