<nb-card class="simple-card">
    <nb-card-body>
        <h1 class="simple-card-title">
            Uninitialized collaborator
        </h1>
        <p>
            If you are seeing this message, that means that your have been successfully became a member of
            <strong>{{ team?.name }}</strong>.
        </p>
        <p>
            Still you do not yet have a current career position, which means unfortunately that there are no
            activities available for you until your team manager initializes your career position.
        </p>
        <p>
            See you soon!
        </p>
    </nb-card-body>
</nb-card>
