.badge-valid{
    width: 200px;
    margin-bottom: 50px;
}
nb-card{
    margin-left: 350px;
    margin-top:  150px;
    text-align: center;
    width: 600px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}
button{
    background: #1D4D91;
    color: white;
    font-weight: bold;
    border-radius: 10px;

}
